---
---

@import "{{ site.theme }}";

/* Hide "View on GitHub" button */
.project-tagline {
  display: none;
}

/* Hide "credits" */
.site-footer-credits {
  display: none;
}

hr {
  color: lightgray;
  border-width: 0;
  border-style: ridge;
  margin-bottom: 30px;
}
